
@{
    ViewBag.Title = "Page404";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
    <div class="error-page">
        <h2 class="headline text-warning"> 404</h2>

        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Üzgünüz! Aradığın sayfayı bulamadık.</h3>

            <p>
                Anasayfaya dönmek için <a href="../AdminCategory/Index" class="btn btn-primary btn-sm">Burayı</a> kullanın.
            </p>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>