
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>MVC Kamp Tablo Örneği</h3>
<br />
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Kategori Adı</th>
            <th>Açıklama</th>
            <th>Durum</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Eğitim</td>
            <td>Açıklama yaptık</td>
            <td>True</td>
            <td>
                <button class="btn btn-success">Güncelle</button>
                <button class="btn btn-danger">Sil</button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Spor</td>
            <td>Spor için açıklama</td>
            <td>True</td>
            <td>
                <button class="btn btn-success">Güncelle</button>
                <button class="btn btn-danger">Sil</button>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Film</td>
            <td>Film için açıklama</td>
            <td>True</td>
            <td>
                <button class="btn btn-success">Güncelle</button>
                <button class="btn btn-danger">Sil</button>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>Kitap</td>
            <td>Açıklama yaptık</td>
            <td>True</td>
            <td>
                <button class="btn btn-success">Güncelle</button>
                <button class="btn btn-danger">Sil</button>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary">Yeni Kategori</button>
<button class="btn btn-warning">Kategori Listesi</button>
<button class="btn btn-info">Kategori Açıklamaları</button>